<section id="sobre" class="sobre-section">
  <div class="container">
    <div class="section-header" data-aos="fade-up">
      <h2>Sobre Mim</h2>
    </div>
    <div class="row align-items-center">
      <!-- Coluna da Imagem -->
      <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-delay="200">
        <div class="sobre-imagem">
          <img src="./assets/danilo.jpeg" alt="Douglas Nascimento" class="img-fluid rounded-circle">
        </div>
      </div>
      <!-- Coluna do Texto -->
      <div class="col-lg-6 col-md-12" data-aos="fade-left" data-aos-delay="300">
        <div class="sobre-conteudo">
          <p>
            Olá , tudo bem?

            Meu nome é Danilo, tenho 17 anos e estou cursando o terceiro ano do ensino médio.

            Desde os 13 anos, sou apaixonado por tecnologia e atualmente estou estudando para ser um Analista de Cibersegurança. Minha meta é contribuir para o sucesso dos negócios e para a construção de um mundo mais justo aplicando soluções com habilidades que aprendi.

            Estou comprometido em continuar aprendendo, me especializando e crescendo na Cibersegurança. Vou cursar o ensino superior no próximo ano para aprofundar meus conhecimentos e construir minha carreira nessa área.
            </p>
          <div class="buttons">
            <a href="https://wa.me/5511982746911" target="_blank" class="btn btn-primary">
              <fa-icon [icon]="faPaperPlane"></fa-icon> Contate-me
            </a>
            <a href="./assets/curriculo-atualizado2024.pdf" download class="btn btn-secondary">
              <fa-icon [icon]="faFileLines"></fa-icon> Baixar currículo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
